.slider::-webkit-slider-thumb {
  background-color: red; /* Change to desired color */
}

.slider::-moz-range-thumb {
  background-color: red; /* Change to desired color */
}

.balloon {
    width: 40px;
    height: 30px;
    background-color: #ff0000; /* Adjust color as needed */
    border-radius: 60%;
    margin: 0 5px;
    animation: balloon-rise 5s linear infinite;
}

@keyframes balloon-rise {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(0);
    }
}
.selected-option{
  background-color: purple;
}